language: node_js

node_js:
  - "node"
  
install:
  - npm install -g firebase-tools
  - npm install
script:
  - npm run build

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

after_success:
  - rm -rf ./frontend_deploy/public
  - mv ./dist ./frontend_deploy/public
  - cd ./frontend_deploy
  - firebase deploy --project emploreum-b3df5 --token $FIREBASE_TOKEN

cache:
  yarn: true
  directories:
    - node_modules
