.landing-emploreum .navbar-default .brand {
  width: auto;
}

.landing-emploreum #for {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  max-height: 600px;
  color: #fff;
  text-align: center;
  background-image: url('../img/indexbackground.jpg');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
body, html, #app, .landing-emploreum .main-content, #wrapper, .full-height {
  height: 100%;
}
.landing-emploreum .main-content {
  padding: 0 !important;
  margin-top: 90px;
}

.landing-emploreum .dark-background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.landing-emploreum #for .row {
  display: table-cell;
  vertical-align: middle;
}

.landing-emploreum #for .row .find-item {
  margin-top: -50px;
}

.landing-emploreum #for .btn {
  margin-top: 20px;
}

.landing-emploreum #for .border {
  position: absolute;
  right: 0;
  top: 0;
  height: 200px;
  margin-top: -25px;
  width: 1px;
  background: #fff;
}

.landing-emploreum #for h1 {
  font-size: 35px;
}

.landing-emploreum #for .btn {
  font-size: 24px;
}

.landing-emploreum #info {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: #fff;
}

.landing-emploreum #info h3 {
  color: #343434;
}

.landing-emploreum #info .border {
  position: absolute;
  right: 0;
  top: 0;
  height: 250px;
  width: 1px;
  margin-top: 20px;
  background: #bfc8cb;
}

.landing-emploreum #info .info-item p {
  padding: 10px 50px;
  font-size: 20px;
  text-align: justify;
}

.landing-emploreum #search {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  max-height: 200px;
  background-image: url('../img/indexbackground.jpg');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.landing-emploreum #search > .row {
  display: table-cell;
  vertical-align: middle;
}

.landing-emploreum #search select,
.landing-emploreum #search button,
.landing-emploreum #search input {
  display: block;
  height: 60px;
}

.landing-emploreum #search input {
  font-size: 24px;
}

.landing-emploreum #search button {
  font-size: 20px;
}

.landing-emploreum #with-us {
  background: #3c3d41;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
}

.landing-emploreum #with-us h1 {
  margin-bottom: 30px;
}

.landing-emploreum #with-us .company-item p {
  margin-top: 15px;
  font-size: 25px;
}

.landing-emploreum #plus {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #fff;
}

.landing-emploreum #plus h1 {
  color: #343434;
  margin-bottom: 30px;
}

.landing-emploreum #plus .plus-item .icon-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.landing-emploreum #plus .plus-item i {
  font-size: 40px;
}

.landing-emploreum #plus .plus-item p {
  margin-top: 10px;
  font-size: 25px;
}

#footer-container {
  position: relative;
  width: 100%;
}

.landing-emploreum .footer-bs {
  position: relative;
  z-index: 10;
  bottom: 0;
  background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255, 255, 255, 1.00);
  border-top-left-radius: 0px;
}

#footer {
  background: #3c3d41;
}

.landing-emploreum .footer-bs .footer-brand, .landing-emploreum .footer-bs .footer-nav, .landing-emploreum .footer-bs .footer-social, .landing-emploreum .footer-bs .footer-ns {
  padding: 10px 25px;
}

.landing-emploreum .footer-bs .footer-nav, .landing-emploreum .footer-bs .footer-social, .landing-emploreum .footer-bs .footer-ns {
  border-color: transparent;
}

.landing-emploreum .footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}

.landing-emploreum .footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.70);
}

.landing-emploreum .footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}

.landing-emploreum .footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}

.landing-emploreum .footer-bs .footer-nav ul.pages a {
  color: rgba(255, 255, 255, 1.00);
  font-weight: bold;
  text-transform: uppercase;
}

.landing-emploreum .footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.80);
  text-decoration: none;
}

.landing-emploreum .footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.landing-emploreum .footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}

.landing-emploreum .footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.landing-emploreum .footer-bs .footer-social li {
  padding: 5px 4px;
}

.landing-emploreum .footer-bs .footer-social a {
  color: rgba(255, 255, 255, 1.00);
}

.landing-emploreum .footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.80);
  text-decoration: none;
}

@media (min-width: 768px) {
  .landing-emploreum .footer-bs .footer-nav, .landing-emploreum .footer-bs .footer-social, .landing-emploreum .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.10);
  }
}

@media screen and (max-width: 768px) {
  .landing-emploreum #for {
    margin-top: 70px;
  }

  .landing-emploreum #for::after {
    display: none;
  }

  .landing-emploreum .border {
    display: none;
  }

  .landing-emploreum #info .info-item p {
    padding: 5px 5px;
  }

  .landing-emploreum .footer-bs {
    padding: 30px 10px;
  }

  .landing-emploreum #for .btn {
    font-size: 25px !important;
  }

  .landing-emploreum #for .row .find-item {
    margin-top: 0;
  }

  .landing-emploreum #search {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .landing-emploreum #search input {
    margin-bottom: 10px;
  }

}